@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
	<div class="row">
		<div class="col">
			<div class="yearbook-titlebar">
				WVU Tech Graduating Class
			</div>
		</div>
	</div>
	<div class="row mt-2 g-3">
		<div class="col-4">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col fw-bold">
							Mrs. Missus
						</div>
						<div class="col text-end">
							GPA 3.8
						</div>
					</div>
					<div class="text-center">
						<img src="~/images/sdnt1.png" style="height: 180px; width: 180px">
					</div>
					<div class="text-center">
						2025
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col fw-bold">
							Seymour Butts
						</div>
						<div class="col text-end">
							GPA 1.8
						</div>
					</div>
					<div class="text-center">
						<img src="~/images/sdnt2.png" style="height: 180px; width: 180px">
					</div>
					<div class="text-center">
						2025
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col fw-bold">
							Baby Face
						</div>
						<div class="col text-end">
							0.2
						</div>
					</div>
					<div class="text-center">
						<img src="~/images/sdnt3.png" style="height: 180px; width: 180px">
					</div>
					<div class="text-center">
						2025
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 g-3">
		<div class="col-4">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col fw-bold">
							Procrastinator Pete
						</div>
						<div class="col text-end">
							GPA 4.0
						</div>
					</div>
					<div class="text-center">
						<img src="~/images/sdnt4.png" style="height: 180px; width: 180px">
					</div>
					<div class="text-center">
						2025
					</div>
				</div>
			</div>
		</div>
	</div>
</div>