@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- container is the start of the grid -->
<div class="container">
	<!-- row of three equal spaced columns -->
	<div class="row">
		<div class="col">
			Column 1.
		</div>
		<div class="col">
			Column 2.
		</div>
		<div class="col">
			Column 3.
		</div>
	</div> <!-- row one -->
	<!-- row of small column, bigger column, small column -->
	<div class="row">
		<div class="col-3">
			This div takes up 3 of 12 columns.
		</div>
		<div class="col-6">
			This div takes up 6 of 12 columns.
		</div>
		<div class="col-3">
			This div takes up 3 of 12 columns.
		</div>
	</div> <!-- row tow -->
</div> <!-- grid container -->
