@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- container is the start of the grid -->
<div class="container">
	<!-- row of three equal spaced columns -->
	<div class="row">
		<div class="col-12">
			<div class="yearbook-titlebar">
				WVU Tech Graduating Class
			</div>
		</div>
	</div> <!-- row one -->
	<!-- row of small column, bigger column, small column -->
	<div class="row">
	</div> <!-- row tow -->
</div> <!-- grid container -->
